#legend {
  background-color: black;
  color: white;
  font-size: larger;
  font-weight: bolder;
  #legend-wrapper {
    width: 40%;
    margin: 0 auto;
    padding: 1rem 0;
    #legend-text-top {
      text-align: center;
    }
    #legend-color {
      height: 30px;
      display: block;
      background: linear-gradient(to right, #0000ff, #00ff00);
      margin: 1rem 0;
    }
    #legend-text-bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}
